<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>THONG TIN LIEN HE</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif">
<div style="background-color: #333231; color: #B1B1B1;">
    <div><p>LIÊN HỆ</p></div>
    <div><p>Nếu bạn có một số câu hỏi hoặc cần trợ giúp! Vui lòng Liên hệ!
        Chúng tôi hổ trợ cho bạn</p></div>
    <div>
        <div style="float: left;"><p>Văn phòng kinh doanh của chúng tôi
        </p></div>
        <div style="float: left;"><p>Business Hours</p></div>
        <div style="float: left;"><p>nhap thon tin lien he</p></div>
    </div>
</div>
</body>
</html>