<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<p>Animals</p>
<ul id="animals">
    <li id="ti">Tiger</li>
    <li id="li">Lion</li>
    <li id="do">Dog</li>
</ul>
<p id="test"></p>
<p id="test1"></p>
<p id="test2"></p>
<script type="text/javascript">
    let animals = document.getElementById("animals");
    document.getElementById("test").innerHTML = animals.children;
    document.getElementById("test1").innerHTML = animals.textContent;
    let newAnimal = document.createElement('li');
    newAnimal.textContent = 'Cat';
    animals.appendChild(newAnimal);
</script>
</body>
</html>