<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input-Types</title>
</head>
<body>
<form >
    <p>
        <label for="name">Name</label>
        <input type="text" id="name" required placeholder="Dien ho ten">
    </p>
    <p>
        <label for="age">Tuoi</label>
        <input type="number" id="age" required placeholder="Dien so tuoi">
    </p>
    <p>
        <label for="email">Email</label>
        <input type="email" id="email" required placeholder="Dien so tuoi">
    </p>
    <p>
        <label for="day">Ngay sinh</label>
        <input type="date" id="day" required>
    </p>
    <p>
        <input type="submit" value="Dang ky">
    </p>
</form>
</body>
</html>