<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<h3 style="color:#663333">Thuc don giai khat</h3>
<ol>
    <li>Ca fe da</li>
    <li>Chanh muoi</li>
    <li>Cocacola</li>
</ol>
<h3 style="color:#663333">Thuc don giai khat</h3>
<ul>
    <li>Ca fe da</li>
    <li>Chanh muoi</li>
    <li>Cocacola</li>
</ul>
<h3 style="color:#663333">Thuc don giai khat</h3>
<ol style="list-style-type: upper-alpha">
    <li>Ca fe da</li>
    <li>Chanh muoi</li>
    <li>Cocacola</li>
</ol>
<h3 style="color:#663333">Danh sach long nhau</h3>
<ol style="list-style-type: upper-roman">
    <li>Buoi sang
        <ul>
            <li>Ca fe da</li>
            <li>Chanh muoi</li>
            <li>Cocacola</li>
        </ul>
    </li>
    <li>Buoi trua
        <ul>
            <li>Ca fe da</li>
            <li>Chanh muoi</li>
            <li>Cocacola</li>
        </ul>
    </li>
    <li>Buoi toi
        <ul>
            <li>Ca fe da</li>
            <li>Chanh muoi</li>
            <li>Cocacola</li>
        </ul>
    </li>
</ol>
<h3 style="color:#663333">Danh sach nam ngang</h3>
<ul style="list-style-type: none">
    <li style="float: left;    padding: 0 20px;"> Trang chủ </li>
    <li style="float: left;    padding: 0 20px;"> Quần áo nữ </li>
    <li style="float: left;    padding: 0 20px;"> Quần áo Nam </li>
    <li style="float: left;    padding: 0 20px;"> Phụ kiện thời trang</li>
</ul>
<br><br><br><br><br><br><br><br>
</body>
</html>