<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Local Storage</title>
</head>
<body>
<div class="container" style="text-align: center">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h1>Adding a animal</h1>
            <input type="text" id="ip-animal">
            <button type="button" id="btn-add">ADD</button>
            <h3>List of animals</h3>
            <ul id="list-animal"></ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    const dataAnimalKey = 'dataAnimals';
    let dataAnimalFromLocalStorage = localStorage.getItem(dataAnimalKey);
    let dataAnimals = [];
    if (dataAnimalFromLocalStorage){
        dataAnimals = JSON.parse(dataAnimalFromLocalStorage);
    }

    let btnAdd = document.getElementById('btn-add');
    let ulListAnimal = document.getElementById('list-animal');
    let inputAnimal = document.getElementById('ip-animal');
    btnAdd.addEventListener('click', addingAnimal);

    render(dataAnimals);
    function  addingAnimal() {
        let valueInput = inputAnimal.value;
        dataAnimals.push(valueInput);
        render(dataAnimals);
        localStorage.setItem(dataAnimalKey,JSON.stringify(dataAnimals));
        inputAnimal.value = "";
    }

    function render(listAnimals) {
        let newList = listAnimals.map(function (item) {
            return '<li>'+item+'</li>';
        });
        ulListAnimal.innerHTML = newList.join("");
    }

</script>
</body>
</html>