:root {
    --heightHeader: 46px;
    --navHeight: 47px;
    --mainColor: #f5f5f5;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
    background-color: white;
}

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

#header {
    background-color: #000;
    height: var(--navHeight);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav,
.sub-nav {
    list-style-type: none;
}

#header .search-btn {
    float: right;
    line-height: var(--navHeight);
    color: white;
    padding: 0 21px
}

#header .search-btn:hover {
    background-color: red;
    cursor: pointer;
}

#header .search-icon {
    font-weight: 900;
}

#nav ul li:hover {
    background-color: #ccc;
    cursor: pointer;
    color: #000;
}

#nav .sub-nav {
    top: 100%;
    left: 0;
    display: none;
    position: absolute;
    box-shadow: 0px 0px 5px #ccc;
}

#nav li:hover ul.sub-nav {
    display: block;
}

#nav .sub-nav li:hover {
    background-color: #ccc;
}

#nav .sub-nav li {
    background-color: white;
    color: #000;
    text-transform: capitalize;
    line-height: 2.5rem;
    font-weight: 500;
    min-width: 10rem;
    text-align: left;
    padding-left: 1rem;
}

#nav>ul>li {
    color: white;
    display: inline-block;
    line-height: var(--navHeight);
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}

#search {}

#slider {
    background: url('https://picsum.photos/2000') top center / cover no-repeat;
    margin-top: var(--heightHeader);
    padding-top: 50%;
    position: relative;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: white;
    text-align: center;
    /* //Canh giua 1 */
    /* left: 50%;
    transform: translateX(-50%); */
    /* Canh giua 2 */
    /* width: 100%; */
    /* Canh giua cach 3 */
    left: 0;
    right: 0;
}

#content {}

#content .content-section {
    width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

#content .section-title {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 4px;
}

#content .section-sub-title {
    font-style: italic;
    font-size: 12px;
    padding-bottom: 1rem;
    color: #ccc;
}

#content .about-content {
    text-align: justify;
    line-height: 1.4;
    font-size: 14px;
}

.wrap-members {
    margin-bottom: 3rem;
}

.wrap-members .member-item {
    float: left;
    width: calc(100% / 3);
    padding: 1rem;
}

.wrap-members .name {
    padding-bottom: 1rem;
}

.wrap-members .avatar {
    width: 100%;
}

.wrap-members .avatar img {
    width: 100%;
}


/* Tour section */

.tour-section {
    background-color: #000;
    padding: 2rem 0px;
}

.tour-section .wrap-order-ticket {
    background-color: #fff;
}

.wrap-order-ticket li {
    list-style-type: none;
    color: darkgray;
    border-bottom: 1px solid #ccc;
    padding: 1rem 2.5rem 1rem 0.5rem;
    text-align: left;
}

.wrap-order-ticket .sold-out {
    background-color: orangered;
    padding: 4px 11px;
    color: #fff;
    margin-left: 1rem;
}

.wrap-order-ticket .quality {
    float: right;
    background-color: #000;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    margin-top: -2px;
}

.wrap-order-address {
    margin-top: 2rem;
    margin-left: -8px;
    margin-right: -8px;
}

.wrap-order-address .adress-item {
    width: calc(100% / 3);
    float: left;
    padding: 4px 8px;
}

.adress-item .address-image {}

.adress-item .address-image img {
    width: 100%;
    display: block;
}

.adress-item .address-image img:hover {
    opacity: .6;
    cursor: pointer;
}

.adress-item .address-info {
    background-color: #fff;
    text-align: left;
    padding: 1rem;
    line-height: 1.4;
}

.address-info .name {
    font-weight: 600;
    padding-bottom: 1rem;
}

.address-info .date-time {
    color: #757575;
    font-size: 14px;
    padding-bottom: 1rem;
}

.address-info .desc {
    padding-bottom: 1rem;
}

.address-info .ref-order {
    text-decoration: none;
    background-color: black;
    color: #fff;
    padding: 7px 11px;
    border: 0;
}

.address-info .ref-order:hover {
    cursor: pointer;
    opacity: .6;
}

#contact {}

#map {}

#footer {}


/* Modal */

#modal {
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
}

.modal-open {
    display: flex !important;
}

#modal .container {
    min-height: 300px;
    background-color: #fff;
    width: 100%;
    max-width: calc(100% - 32px);
}

#modal #modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}

#modal #modal-close:hover {
    opacity: .4;
    cursor: pointer;
}

.container .modal-header {
    background-color: #009688;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
}

.modal-header .title {
    font-size: 21px;
    letter-spacing: 3px;
}

.container .modal-body {
    padding: 1rem;
}

.modal-body .item {
    margin-top: 1rem;
}

.modal-body .item label {
    display: block;
}

.modal-body .item input {
    display: block;
    width: 100%;
    height: 2rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    padding: 1rem;
}

.modal-body .item button {
    background-color: #009688;
    color: #fff;
    padding: 0.7rem;
    display: block;
    width: 100%;
    border: 0;
    font-weight: 600;
}

.modal-body .item button:hover {
    opacity: .6;
    cursor: pointer;
}

.modal-footer {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-footer .footer-close {
    display: inline-block;
    background-color: #f44336;
    color: white;
    padding: 0.7rem;
}

.modal-footer .footer-close:hover {
    cursor: pointer;
    opacity: .7;
}